body{
    background-color: black;
    text-align: center;
    font-family: 'Verdana';
    color: white;
    align-content: center;
}
.main-1 h2{
    font-weight: normal;
    font-size: 50px;
    
}
a{
    color: aquamarine;
    font-size: 16px;
}
video {
    object-fit: contain;
}
.main-2 h2{
    font-weight: 300;
    font-size: 42px;
}
.main-2 p{
    color: gray;
    font-size: 21px;
}
.main-3 h2{
    font-weight: 300;
    font-size: 42px;
}
img{
    padding: 20px;
    align-self: auto;
}
footer{
    text-align: right;
    color: gray;
}
